/Code/BooleanEngine/__pycache__
/Code/VectorEngine/__pycache__
/Code/VectorEngine/cacm_pickle
/Code/BooleanEngine/cacm_pickle
/Code/VectorEngine/cs_276_pickle
/Code/BooleanEngine/cs_276_pickle
.vscode
.ipynb_checkpoints
.DS_Store